* {
  margin: 0 ;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Playfair Display', serif;
}
.header {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  z-index: 300;
  background-color: white;
}
.header .nav-page ul,
.header .nav-red ul,
.header .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .logo {
  height: 50px;
  margin-left: 50px;
}
.header .logo:hover {
  cursor: pointer;
}
.header nav ul {
  list-style: none;
}
.header .nav-page ul {
  width: 450px;
}
.header .nav-red ul {
  margin-right: 50px;
  width: 100px;
}
.header nav ul li a {
  text-decoration: none;
}
.header nav ul li a {
  color: #4e4c4c;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.header nav ul li a:hover {
  color: #b4afaf;
}
main,
footer {
  position: relative;
  top: 90px;
  z-index: 200;
}
.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  max-width: 100%;
}
.inicio .inicio_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}
.inicio .inicio_col .portada-1,
.inicio .inicio_col .portada-4,
.inicio .inicio_col .texto {
  width: 50%;
  height: 60%;
}
.inicio .inicio_col .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 3%;
}
.inicio .inicio_col .texto h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.inicio .inicio_col .portada-2,
.inicio .inicio_col .portada-3 {
  width: 100%;
  height: 40%;
}
.inicio .inicio_col .portada-1 {
  background-image: url('../img/portada-1.jpg');
}
.inicio .inicio_col .portada-2 {
  background-image: url('../img/portada-2.jpg');
}
.inicio .inicio_col .portada-3 {
  background-image: url('../img/portada-3.jpg');
}
.inicio .inicio_col .portada-4 {
  background-image: url('../img/portada-4.jpg');
}
.inicio .inicio_col .portada-1,
.inicio .inicio_col .portada-2,
.inicio .inicio_col .portada-3,
.inicio .inicio_col .portada-4 {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 300;
}
.inicio .inicio_col .overlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: black;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.inicio .inicio_col .overlay i {
  color: white;
  font-size: 2rem;
}
.inicio .inicio_col .portada-1:hover .overlay,
.inicio .inicio_col .portada-2:hover .overlay,
.inicio .inicio_col .portada-3:hover .overlay,
.inicio .inicio_col .portada-4:hover .overlay {
  opacity: 0.6;
  cursor: pointer;
}
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 70vh;
}
.nosotros .nosotros-titulo {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10%;
}
.nosotros .nosotros-titulo .primero {
  font-size: 1.3rem;
  color: #8a8787;
}
.nosotros .nosotros-titulo .segundo {
  font-size: 3rem;
  font-style: italic;
  color: #000000;
}
.nosotros .parrafo-nosotros {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nosotros .parrafo-nosotros p {
  font-size: 1.3rem;
  color: #8a8787;
  border-left: 1px solid #c0b9b9;
  margin-right: 10%;
  padding-left: 5%;
}
.nuestro-chef {
  width: 100%;
  height: 70vh;
  background-color: #141313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2%;
}
.nuestro-chef .contenedor {
  width: 50%;
  height: 80%;
  overflow: hidden;
}
.nuestro-chef .contenedor .texto {
  margin-left: 5%;
}
.nuestro-chef .contenedor .texto h1 {
  font-weight: 400;
  font-size: 3rem;
  font-style: italic;
  color: white;
}
.nuestro-chef .contenedor .texto p {
  width: 80%;
  font-size: 1.3rem;
  color: #8a8787;
}
.nuestro-chef .contenedor .slider {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nuestro-chef .contenedor .slider .foto1,
.nuestro-chef .contenedor .slider .foto2,
.nuestro-chef .contenedor .slider .foto3 {
  width: 80%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}
.nuestro-chef .contenedor .slider .foto1 {
  background-image: url('../img/chef-1.jpg');
}
.nuestro-chef .contenedor .slider .foto2 {
  background-image: url('../img/chef-2.jpg');
}
.nuestro-chef .contenedor .slider .foto3 {
  background-image: url('../img/chef-3.jpg');
}
